header {
    background-color: #f0f0f0;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 50px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.486);
    display: inline-block;
    margin-right: 20px;
}

body {
    font-family: sans-serif; /* Usa una fuente sans-serif por defecto */
    background-color: #f0f0f0; /* Color de fondo pálido */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.login-container {
    background-color: #228B22; /* Verde oscuro */
    border: 2px solid #007bff; /* Borde azul */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra */
    text-align: center;
}

.login-container h2 {
    color: white; /* Texto blanco */
    margin-bottom: 15px;
}

.login-container label {
    color: white; /* Texto blanco */
    display: block; /* Para que cada label ocupe su propia línea */
    margin-bottom: 5px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Para que el padding no afecte el ancho total */
}

.login-container button {
    background-color: #4CAF50; /* Verde claro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Transición suave al hover */
}

.login-container button:hover {
    background-color: #45a049; /* Verde más oscuro al hover */
}
